@import url('base.css');
.big{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #eeeeee;
}
.Characterframe{
	width: 3.95rem;
	height: 5.12rem;
	margin: 0 auto;
	background: #efefef;
	display: flex;
	flex-wrap: wrap;
/* 	justify-content: space-between; */
	margin-top: 2.54rem;
}
.Characterframe_corner{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.small_box{
	width: 0.06rem;
	height: 0.06rem;
	background: #d7d7d7;
}
.Characterframe_corner1{
	width: 3.95rem;
	height: 5rem;
	background: #efefef;
	display: flex;
	justify-content: center;
}
.Characterframe_center_box{
	width: 3.83rem;
	height: 5rem;
	background: #f6f6f6;
	align-self: center;
}
.bottom_wenzi1{
	width: 3.83rem;
	height: 0.28rem;
	font-size: 0.28rem;
	line-height: 0.28rem;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	font-family: "苹方";
	margin-top: 3.32rem;
	color: #a0a0a0;
}
.bottom_wenzi1 a{
	color: #a0a0a0;
}
.bottom_wenzi2{
	width: 3.83rem;
	height: 0.16rem;
	font-size: 0.16rem;
	line-height: 0.16rem;
	text-align: center;
	margin: 0 auto;
	color: #d9d9d9;
	margin-top: 1.39rem;
}