@import url('base.css');
.big{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #eeeeee;
	overflow: hidden;
}
.Headportrait{
	width: 3.42rem;
	height: 3.42rem;
/* 	background: #742135; */
	margin: 1.61rem auto 0;
}
.Headportrait img{
	width: 3.42rem;
	height: 3.42rem;
}
.no1{
	height: 0.58rem;
	margin: 0 auto;
	font-size: 0.26rem;
	color: #33cf56;
	text-align: center;
	font-family: "苹方";
	font-weight: bold;
	line-height: 0.58rem;
}
.no2{
	height: 0.4rem;
	margin: 0 auto;
	font-size: 0.2rem;
	color: #ababab;
	text-align: center;
	font-family: "苹方";
	font-weight: bold;
	line-height: 0.4rem;
}
.Inputbox{
	width: 5.3rem;
	height: 0.53rem;
	background: #eeeeee;
	border-bottom: 0.01rem solid #d6d6d6;
	margin: 0.07rem auto 0;
}
.Inputbox_left{
	float: left;
	width: 0.18rem;
	height: 0.08rem;
	background: #ffcb2e;
	margin-top: 0.14rem;
}
.Inputbox_center{
	width: 4.32rem;
	height: 0.43rem;
	background: brown;
	float: left;
	margin-left: 0.10rem;
	background: #eeeeee;
	outline: none;
	border: none;
}
.Inputbox_center input{
	width: 4.32rem;
	height: 0.43rem;
	outline: none;
	display: block;
	padding-left: 0.14rem;
	font-weight: bold;
	font-size: 0.17rem;
	background: #eeeeee;
}
.Inputbox_right{
	width: 0.17rem;
	height: 0.17rem;
	font-size: 0.17rem;
	float: right;
/* 	background: blue; */
	margin-right: 0.53rem;
	margin-top: 0.10rem;
	font-size: 0.17rem;
	line-height: 0.17rem;
}
.Button{
	width: 3.47rem;
	height: 0.7rem;
	margin: 0 auto;
	background: #d6d6d6;
	border-radius: 0.35rem;
	text-align: center;
	line-height: 0.7rem;
	font-size: 0.22rem;
	color: #aaaaaa;
	font-weight: bold;
	margin-top: 1.51rem;
	display: block;	
}
.Hintinformation{
	width: 5.3rem;
	height: 0.6rem;
/* 	background: yellow; */
	margin: 0 auto;
	margin-top: 1.66rem;	
}
.Hintinformation_left{
	width: 0.6rem;
	height: 0.6rem;
/* 	background: pink; */
	float: left;
	margin-left: 0.33rem;
}
.Hintinformation_left img{
	width: 0.6rem;
	height: 0.6rem;
	display: block;
}
.Hintinformation_right{
	width: 2.40rem;
	height: 0.6rem;
/* 	background: brown; */
	float: left;
	font-size: 0.22px;
	color: #ff2246;
	line-height: 0.6rem;
	margin-left: 0.18rem;
}